* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 40px 40px 0 40px;
    background:linear-gradient(rgb(12, 24, 44), #022461);
    color: white;
}

header{
    margin-left: none;
    background-image: url(../images/film\ roll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 200px;
    font-style: italic;
    /* border: 5px solid black; */
    border-bottom: 20px solid rgb(85, 108, 155);
    padding: 25px 0;
}

h1 {
    font-size: 100px;
    color: white;
    text-shadow: 5px 10px 18px black;
    -webkit-text-stroke: 3px rgb(10, 54, 104);
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: 50px;
}

.search-criteria {
    border-right: solid 1.5px rgb(85, 108, 155);
    padding-right: 50px;
}

hr {
    background-color: rgb(85, 108, 155);
    width: 50%;
    margin: 20px auto;
}

h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

h4{
    font-size: 35px;
    font-weight: bold;
}

button {
    margin: 20px;
    font-weight: bold;
}

.search-criteria {
    margin-right: 20px;
}

.result{
    margin-bottom:100px;
    text-align: center;
}

.result p{
    margin-bottom: 30px;
}

.result button {
    display: none;
}

.card {
    margin:20px;
}

.streaming-services{
    margin: 0 auto;
}

input.checkbox {
    height: 18px;
    width: 18px;
    margin-right: 20px;
}

label {
    font-size: 25px;
    border-bottom: solid lightgray 1px;
}

.rating {
    margin: 15px 0;
}